@font-face {
  font-family: Sports World-Regular ;
  src: url(../fonts/Sports\ World-Regular.otf);
}

@font-face {
  font-family: octin sports rg;
  src: url(../fonts/octin\ sports\ rg.otf);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color:#ff9100;  
}

header{
  padding: 1.5%;  
  font-family: octin sports rg;
  background-color:  #e64900;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixo{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

}

.img_topo{
  width: 100%;
}

.img_logo{
  width: 30%;
}

footer{
  background-color: rgba(128, 128, 128, 0.3); 
  padding: 1.5%;  
  font-family: octin sports rg;
}

.iten_menu{
  line-height: 1.5;
  text-align: center;
}
  
  /* selected link */
.iten_menu a:active {
    color: #FFF;
    text-decoration: none;
  }

section a:link{
  color: #696969;
}

section a:visited {
  color: #FFF; 
}

section a:hover{
  color: #696969;
}


.fundo_diferente{
  background-image:  #ff9100;
}



.img_corpo{
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}

figure{
    text-align: center;
}
.jojos{
  margin-top: 25%;
}

.container{
  width: 80%;
  margin: auto;
}

.container_hamon{
  margin-top: 15%;
}

.container_contato{
  margin-top: 15%;
}

.container_com{
  margin-top: 15%;
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 7rem ;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  font-family: Sports World-Regular;
}
p {
  font-size: 2rem;
  color: #191970;
  text-align: center;
  text-indent: 40px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: octin sports rg;
}

.parag > p{
  color: #191970;
  text-indent: 2%;
  margin-right: 1%;
}


.pinta_botao {
  width: 170px;
  height: 50px;
  background-color: rgb(81, 151, 255);
  margin: auto;

}

.botao{
  padding-top: 1px;
  margin-bottom: 3%;
  text-indent: 0%;
  
}

html{
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: Sports World-Regular;
  margin-top: 3%;
}

.iten_menu,footer{
  
  background-color: #e64900;
  text-align: center;
  padding-bottom: 0.1px;
}

footer p {
  text-align: center;
}

nav ul li a{
  color: #191970;
}

.iten_menu{
  font-size: 0.1rem;
}

.iten_menu a:link, a:visited {
  ;
  color: white;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
 
}

li{
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

footer p a:link, a:visited {
  background-color: #191970;
  color: white;
  padding: 0.3%;
  text-align: justify ;
  text-decoration: none;
  display: inline-block;
  text-indent: 0%;
}

section {
  margin-top: 1rem;
}

.lado {
  float: right;
  margin-left: 2%;
  width: 50%;
  margin-top: 2rem;
  }

.escondido {
  display: none;
}

.img_hamon {
  float: left;
  margin-left: 1.5%;
  width: 20%;
  margin-right: 1%;
}

footer {
    margin-top: 3%;
    background-color: #e64900;
    padding: 2rem;
  }

.jo{
  margin-top: 2rem;
  margin-bottom: 2 rem;
}

.img_jonathan{
  width: 20%;
}

.img_kars{
  width: 20%;
}

.img_joseph{
  width: 20%;
}

.img_caesar {
  width:30%
  
}

.img_lisalisa {
  width: 30%
}

table {
  font-family: octin sports rg ;
  border-collapse: collapse;
  width: 100%;
  psolid {border-style: solid;}
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}



.borda_form{
  background-color:#5c8ba8 ;
  padding: 20px;
  border-radius: 25px;
  margin-top: 1%;
  box-sizing: border-box;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family:octin sports rg ;
}

input[type=text], select, textarea, input[type=tel], input[type=email] {
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  resize: vertical;
  font-family:octin sports rg ;
}

.col-25{
  width: 25%;
  float: left;
  margin-top: 6px;
  
  }
  
  .col-75{
  width: 75%;
  float: left;
  margin-top: 6px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color:#191970;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: black;
  font-weight: bolder;
 
}

.botaoform{
  margin-top: 3%;
}

.img_jojos {
  margin-top: 2%;
  width: 50%;
}


/*Faz uma alteração quando a tela fica menor que 600px */
@media screen and (max-width:600px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
   
  }  

  .banner{
    margin-top: 40%;
  }

  .logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }

  .descer{
    margin-top: 100%;
  }
}
/*Faz uma alteração quando a tela fica maior que 601px */
@media screen and (min-width:601px) {

  header{
    flex-direction: row;
  }

  .iten_menu{
    position: absolute;
    right: 3%;
    top: 30%;
    width: 70%;

  }

  .iten_menu ul li {
        display: inline;
        margin-left: 1%;


  }

  .banner{
    margin-top: 10%;
  }

  .logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    width: 10%;
  }

  .descer{
    margin-top: 15%;
  }

    
}